:root {
color: black;
text-align: center;
}


/* البحث */
#searchBar {
width: 90%;
margin: 15px;
padding: 12px;
background: var(--search-bg);
color: white;
border: 1px solid var(--border-color);
border-radius: 8px;
}


/* الأقسام */
.sec-card {
background: rgba(255,255,255,0.04);
border: 1px solid rgba(232,192,101,0.25);
padding: 12px;
border-radius: 12px;
margin: 10px;
text-align: center;
color: var(--gold);
cursor: pointer;
}


/* المنتجات */
.item-card {
background: var(--card-bg-dark);
margin: 12px;
padding: 12px;
border-radius: 16px;
border: 1px solid rgba(232,192,101,0.2);
}


.item-card img {
width: 100%;
border-radius: 12px;
}


#cartBtn {
position: fixed;
bottom: 20px;
left: 20px;
width: 60px;
height: 60px;
border-radius: 50%;
background: #000;
border: 2px solid var(--gold);
color: var(--gold);
